<strong>Olá, {{ student }} </strong>
<p>Seja Bem-Vindo a GymPoint</p>
<p>
  Você acaba de inicar sua jornada na GymPoint matriculado no plano
  <strong>{{ plan }}</strong>. <br />
  Ele inicia <strong>{{ startDate }}</strong> <br />
  e vai até
  <strong>{{ endDate }}</strong> <br />
  O valor total do seu plano é de
  <strong>{{ price }}</strong>. <br />

  <br />

</p>