<strong>Olá, {{ student }} </strong>
<p>Parabéns, seu plano foi atualizado na GymPoint</p>
<p>
  Só para ficar bem registado, seu plano é o
  <strong>{{ plan }}</strong>. <br />
  Ele inicia <strong>{{ startDate }}</strong> <br />
  e vai até
  <strong>{{ endDate }}</strong> <br />
  O valor total do seu plano é de
  <strong>{{ price }}</strong>. <br />

  <br />

</p>